# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# Model Weights
*.pth
*.pt
*.ckpt

# Dataset
dataset/
datasets/
data/

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
